/* ADMIN */

.admin-container{
    overflow-y: scroll;
    min-height: 90%;
    width: 100%;
    margin-inline: auto;
}

.admin-btns{
    display: flex;
}

.admin-btns div{
    width: 50%;
    text-align: center;
}

.admin-btn{
    background-color: var(--abyss-blue);
    padding: 1rem;
    cursor: pointer;
}

.admin-btn *{
    pointer-events: none;
}

.forms-container{
    position: relative;
}

.form{
    position: absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    padding-bottom: 6rem;
}

.form-container{
    background-color: #565a7552;
    backdrop-filter: blur(0.3rem);
    width: 100%;
    padding: 1rem;
}

.btn-activated{
    background: rgb(86,90,117);
    background: linear-gradient(0, #565a7552 0%, rgba(15,15,27,1) 100%);
}

.hide-form{
    display: none;
}

.form-group{
    margin-block: 1rem;
}

.field-group{
    width: 100%;
}

textarea{
    width: 100%;
}

.name-input{
    width: 100%;
    padding: 0.8rem;
}

@media (min-width: 1024px) {
    .admin-container{
        padding-block: 4%;
        width: 50%;
    }
}

.character-to-edit-group{
    position: relative;
}

.select-character-field{
    background-color: #30303087;
}

.select-character-field::placeholder{
    /* background-color: #30303087; */
    color: rgba(241, 241, 241, 0.486);
}

.select-character-field:focus{
    background-color: #30303087;
}

.character-edit-list{
    background-color: #303030e1;
    width: 100%;
    max-height: 25rem;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
}

.character-edit-item{
    cursor: pointer;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.character-edit-item *{
    pointer-events: none;
    user-select: none;
}

.character-edit-item:hover{
    background-color: rgba(241, 241, 241, 0.151);
}

.character-edit-name{
    padding: 1.8rem 2rem;
}
.character-edit-img{
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--abyss-blue);
    height: 4rem;
    overflow-y: hidden;
    /* height: 2rem; */
}

.hide-edit-list{
    display: none;
}