/* ADMIN */

.admin-container{
    overflow-y: scroll;
    min-height: 90%;
    width: 100%;
    margin-inline: auto;
}

.admin-btns{
    display: flex;
}

.admin-btns div{
    width: 50%;
    text-align: center;
}

.admin-btn{
    background-color: var(--abyss-blue);
    padding: 1rem;
    cursor: pointer;
}

.admin-btn *{
    pointer-events: none;
}

.forms-container{
    position: relative;
}

.form{
    position: absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    padding-bottom: 6rem;
}

.form-container{
    background-color: #565a7552;
    backdrop-filter: blur(0.3rem);
    width: 100%;
    padding: 1rem;
}

.btn-activated{
    background: rgb(86,90,117);
    background: linear-gradient(0, #565a7552 0%, rgba(15,15,27,1) 100%);
}

.hide-form{
    display: none;
}

.form-group{
    margin-block: 1rem;
}

.field-group{
    width: 100%;
}

.fill-info-btn{
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: var(--abyss-blue);
}

textarea{
    width: 100%;
}

.form-btn{
    padding: 0.6rem;
    color: #fff;

}

.name-input{
    width: 100%;
    padding: 0.8rem;
}

@media (min-width: 1024px) {
    .admin-container{
        padding-block: 4%;
        width: 50%;
    }
}