/* home */

#home{
    width: 100%;
}

.home-container{
    height: 92%; /*header has the other 8%*/
    display: flex;
    flex-direction: column;
    position: relative;

}

.item-list{
    height: 35%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.favorite-item-list{
    height: 35%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.item{
    list-style: none;
    margin-block: 1rem;
    padding: 0.8rem;
    padding-left: var(--inner-indentation);
    display: flex;
    align-items: center;
    position: relative;

    scroll-snap-align: center;

    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}

.selected-item{
    background: rgb(198,183,190);
    background: linear-gradient(90deg, transparent 0%, #fafbf629 30%, #fafbf629 70%, transparent 100%);
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(198,183,190,1) 50%, rgba(0, 0, 0, 0) 100%) 
    100% 0 100% 0/2px 0 2px 0 stretch;
}

.character-img{
    height: 10vw;
    width: 10vw;
    max-height: 5.5rem;
    max-width: 5.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border-radius: 50%;
    background-color: #000;
}

.character-img img{
    transform: scale(1.5);
    transform-origin: 50%;
}


.list-border{
    height: calc(10vw + 0.8rem);
    width: calc(10vw + 0.8rem);
    max-height: 6.5rem;
    max-width: 6.5rem;
    position: absolute;
    z-index: 1;
    margin-left: -0.4rem;
    top: calc(50%-(clamp(3.8rem, 10vw, 5.8rem)/2));
}

.hollow{
    justify-self: center;
}

.first-item{
    margin-top: 100vh;
}

.last-item{
    margin-bottom: 100vh;
}

.last-favorite{
    margin-bottom: 8rem;
}

.character-full-info{
    overflow-y: scroll;
    height: 65%;
}

.character-name{
    display: flex;
    justify-content: center;
    padding-block: 2.5rem;
}

.character-img-container{
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
    position: relative;
}

.blurred-background{
    width: 100%;
    height: 0;
    
    padding-bottom: 100%;
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    background: var(--start-blue);
    background: radial-gradient(circle, #36456f 0%, rgba(181,190,205,0) 72%, rgba(255,255,255,0) 100%);
}

.character-full-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.favorite-icon{

    width: 12%;
    max-width: 4.5rem;
    cursor: pointer;
}

.character-info{
    padding-inline: var(--inner-indentation);
    padding-bottom: 8rem;
    position: relative;
    z-index: 98;
}

.info-divisor-img{
    width: 70%;
    margin-block: 2rem;
    display: flex;
    margin-inline: auto;
    justify-content: center;
}

.info-divisor-img img{
    width: 100%;
}

@media (min-width: 1024px){
    .home-container{
        display: flex;
        flex-direction: row;
    }

    .item-list{
        width: 30%;
        height: 100%;
        padding-left: 4.5rem;
        padding-right: 2rem;
        font-size: var(--fs-500);
    }


    .favorite-item-list{
        width: 30%;
        height: 100%;
        padding-left: 4.5rem;
        padding-right: 2rem;
        font-size: var(--fs-500);
    }


    .favorites-list{
        width: 100%;
    }
    .character-full-info{
        width: 70%;
        height: 100%;
        display: flex;
    }

    .character-img-container{
        width: 50%;
        padding-block: 0px;
    }

    .character-info{
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        padding: 5rem 7rem 1rem 4.5rem;
        font-size: var(--fs-400);
        z-index: 0;
    }

    .character-full-img{
        height: 90%;
        width: 35%;
    }

    .character-name{
        font-size: var(--fs-450);
        padding-block: 3rem;
    }

    .mb-4{
        margin-block: 4rem;
    }

}