/* home */

#home{
    background-color: burlywood;
}

.item-list{
    /* background-color: brown; */
    height: 28vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: y mandatory;
}

.item{
    list-style: none;
    background-color: rgb(205, 169, 50);
    margin-block: 1rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    position: relative;

    scroll-snap-align: center;
}

.character-img{
    height: clamp(3rem, 10vw, 5rem);
    width: clamp(3rem, 10vw, 5rem);
    overflow: hidden;
    background-color: red;
    display: flex;
    align-items: center;
    margin-inline: var(--item-img-inline);
    margin-right: 2rem;
    border-radius: 50%;
}

.character-img img{
    transform: scale(1.5);
    transform-origin: 50%;
} /*this is for cut those blank spaces*/


.list-border{
    height: clamp(3.8rem, 12vw, 5.8rem);
    width: clamp(3.8rem, 12vw, 5.8rem);
    position: absolute;
    z-index: 1;
    margin-inline: calc(var(--item-img-inline) - 0.4rem);
    top: calc(50%-(clamp(3.8rem, 12vw, 5.8rem)/2)); /*to center the div verticaly */
}

.hollow{
    justify-self: center;
}

.first-item{
    margin-top: 28vh; /*this overflows the list of elements, so when the first and last elements have tried to pass them the snap center behavior will always place them in the center of the div */
}

.last{
    margin-bottom: 28vh;
}

.character-full-info{
    /* background-color: rgb(153, 255, 80); */
    overflow-y: scroll;
}

.character-img-container{
    display: flex;
    justify-content: center;
    /* background-color: cadetblue; */
    padding: 2rem;
    position: relative;
}

.character-full-img{
    /* background-color: green; */
    max-width: 50%;
}
.favorite-icon{
    position: absolute;
    width: clamp(4rem, 12%, 5rem);
    right: 6%;
}

.character-info{
    padding: 3rem;
}