/* my reset */

*, *::before, *::after{
    box-sizing: border-box;
}

@font-face {
    font-family: perpetua;
    src: url(/utils/fonts/Perpetua.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: perpetua;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

:root{
    font-size: 62.5%;

    --inner-indentation: 2.5rem;
    --divisor-spaces: ; /* space between items and container and divisors*/

    --header-color: rgb(0, 0, 0);
    --header-hight: 8%; 
    --border-size: 4vw;
    
    
    /* color pallete */
    --abyss-blue: #0f0f1b;
    --start-blue: #565a75;
    --vesel-color: #c6b7be;
    --pure-color: #fafbf6;

    --fs-600: 3.3rem;
    --fs-500: 3rem;
    --fs-450: 2.5rem;
    --fs-400: 2rem;
    --fs-300: 1.5rem;
    --fs-200: 1.25rem;
    --fs-100: 1rem;
}



h3{
    font-weight: 600;
    letter-spacing: 1px;
}

body{
    font-size: var(--fs-300);
    color: var(--pure-color);
    height: 100vh;
}

.borders-container{
    display: none;
}


@media (min-width: 768px) {
        
    body{
        font-size: var(--fs-400);
    }

    :root{    
        --inner-indentation: 4rem;
    }    
}

.general-background{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: -1;
    background-color: black;
}

.general-background img{
    width: 100%;
}

.background-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000dc;
}

/* general css */

.slider-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    height: 100vh;


}

*::-webkit-scrollbar {
    display: none;
}

.section-container{
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: center;
    height: 100%;
    border: var(--border-size) solid rgb(0, 0, 0);
}

.under-title-img{
    max-width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 4;
    margin-top: calc(var(--border-size) - 0.7rem);
    display: none;
}

.under-title-img img{
    width: 54%;
}

.section-header{
    background-color: var(--header-color);
    color: #fff;
    height: var(--header-hight);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: 800ms background-color ease-in-out;
}



.logo-icon{
    box-sizing: content-box;
    width: 8%;
    max-width: 2.5rem;
    padding-left: var(--inner-indentation);
    position: absolute;
    background-color: var(--header-color);
    z-index: 3;
    left: 0;
    transition: 800ms background ease-in-out;
}

.burger-icon{
    box-sizing: content-box;
    width: 4rem;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-right: var(--inner-indentation);
    
    background-color: var(--header-color);
    position: absolute;
    right: 0;
    z-index: 3;
    gap: 0.4rem;
    
    transition: 800ms background ease-in-out;
}

.burger-icon svg{
    transition: all 800ms ease-in-out;
}
/*animation*/

.burger-icon.open svg:nth-child(2){
    transform: translateX(-3rem);
    opacity: 0;
    visibility: hidden;
}

.burger-icon.open svg:nth-child(1){
    transform: rotate(-45deg) translate(-0.6rem, 1rem);
}

.burger-icon.open svg:nth-child(3){
    transform: rotate(45deg) translate(-0.6rem, -1rem);
}

.divisor{
    width:100%;
    height: 0.2rem;
    margin-block: 1rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
}

@media (min-width: 1024px) {
    :root{
        --inner-indentation: 3rem;
    }

    .under-title-img{
        display: flex;
    }

    .content-container-hover{
        height: 92%;
        width: 100%;
        margin-top: auto;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.04245448179271705) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    }

    .borders-container{
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        border: var(--border-size) solid transparent;
        z-index: 4;
        pointer-events: none;
    }
    .corner-img{
        width: 11%;
        position: absolute;
        z-index: 3;
    }

    .full-arrows{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* background-color: #ff000062; */
        top: 0;
        bottom: 0;
        pointer-events: none;
    }

    .full-arrows img{
        width: 3%;
        transition: all 500ms ease-in-out;
    }

    .full-arrows img:nth-child(2){
        transform: scaleX(-1);
    }

    .corner-img:nth-child(1){
        top: var(--header-hight);
    }

    .corner-img:nth-child(2){
        bottom: 0;
        transform: scaleY(-1);
    }

    .corner-img:nth-child(3){
        bottom: 0;
        right: 0;
        transform: scale(-1);
    }

    .corner-img:nth-child(4){
        top: 8%;
        right: 0;
        transform: scaleX(-1);
    }

    .under-page-img{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        display: flex;
        justify-content: center;
    }

    .under-page-img img{
        width: 35%;
    }

    .container-name{
        font-size: var(--fs-600);
        letter-spacing: 1px;
    }

    .logo-icon{
        display: none;
    }

    .divisor{
        width: 0.3rem;
        max-width: 0.3rem;
        height: 85%;
        margin-left: 0.5rem;
        margin-right:0.5rem;
        margin-block: auto;
        background: var(--vesel-color);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    }
}