/* my reset */

*, *::before, *::after{
    box-sizing: border-box;
}

@font-face {
    font-family: perpetua;
    src: url(../utils/fonts/Perpetua.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: perpetua;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}


body {
    font-size: calc(1.6rem + 1vw);
}
  
h1, h2, h3, h4, h5, h6 {
    font-size: calc(2rem + 2vw);
}
  
@media (min-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: calc(2.2rem + 1vw);
    }
}
  
p, b {
    font-size: calc(1.6rem + 0.5vw);
    line-height: 1.4;
}

b {
    font-weight: bold;
  }

:root{
    font-size: 62.5%;

    --inner-indentation: 2.5rem;

    --header-color: #000;
    --header-hight: 8%; 
    --border-size: 3.5vw;
    
    
    /* color pallete */
    --abyss-blue: #0f0f1b;
    --start-blue: #565a75;
    --vesel-color: #c6b7be;
    --pure-color: #fafbf6;

    --fs-600: 3.3rem;
    --fs-500: 3rem;
    --fs-450: 2.5rem;
    --fs-400: 2rem;
    --fs-300: 1.5rem;
    --fs-200: 1.25rem;
    --fs-100: 1rem;
}

body{
    color: var(--pure-color);
    height: 100vh;
    overflow-y: hidden;
}

/* MOBILE MENU */

.menu{
    padding-inline: var(--inner-indentation);
    padding-top: var(--inner-indentation);
    background-color: #0f0f1bd0;
    color: var(--pure-color);
    backdrop-filter: blur(0.5rem);
    width: 100%;
    position: fixed;
    left: 0;
    backdrop-filter: blur(0.3rem);
    max-height: 75vh;
    overflow-y: scroll;

    transition: 800ms all ease-in-out;
    z-index: 99;
}


.menu-item{
    padding-inline: var(--inner-indentation);
    cursor: pointer;
    line-height: 3;
}

.menu-anchor{
    text-decoration: none;
    color: var(--pure-color);
}

.actual-page{
    pointer-events: none;
    text-align: center;
}

.menu-item:hover{
    background: rgb(198,183,190);
    background: linear-gradient(90deg, rgba(198,183,190,0) 0%, rgba(198,183,190,0.4) 50%, rgba(198,183,190,0) 100%);
}


.hide-menu{
    opacity: 0;
    transform: translateX(-100%);
}

.borders-container{
    display: none;
}


@media (min-width: 768px) {

    :root{    
        --inner-indentation: 4rem;
    }    
}

.general-background{
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.general-background img{
    width: 100%;
}

.background-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e8;
}

/* general css */

.slider-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    height: 100vh;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

.section-container{
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: center;
    overflow-x: scroll;
    height: 100%;
    border-left: calc(var(--border-size) - 2vw) solid rgb(0, 0, 0);
    border-right: calc(var(--border-size) - 2vw) solid rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.04) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
}

.under-title-img{
    max-width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 4;
    margin-top: calc(var(--border-size) - 1.8rem);
    pointer-events: none;
    display: none;
}

.under-title-img img{
    width: 54%;
}

.section-header{
    background-color: var(--header-color);
    color: #fff;
    height: var(--header-hight);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */

    transition: 800ms background-color ease-in-out;
}

.burger-icon-container{
    height: 6%;
    width: 100%;
    z-index: 5000;
    position: fixed;
    display: flex;
    top: calc(var(--border-size) / 3.2);
    justify-content: flex-end;
    align-items: center;
    padding-inline: var(--inner-indentation)
}

.burger-icon{
    width: 3.5rem;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 100;
    right: var(--border-size);
    top: var(--border-size);
    gap: 0.4rem;
    background-color: #000;
}


.burger-icon svg{
    transition: all 800ms ease-in-out;
}
/*animation*/

.burger-icon.open svg:nth-child(2){
    transform: translateX(-3rem);
    opacity: 0;
    visibility: hidden;
}

.burger-icon.open svg:nth-child(1){
    transform: rotate(-45deg) translate(-0.6rem, 0.8rem);
}

.burger-icon.open svg:nth-child(3){
    transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}

@media (min-width: 768px) {
    .burger-icon{
        width: 4.5rem;
    }

    .burger-icon.open svg:nth-child(1){
        transform: rotate(-45deg) translate(-0.6rem, 1.1rem);
    }
    
    .burger-icon.open svg:nth-child(3){
        transform: rotate(45deg) translate(-0.6rem, -1.1rem);
    }
}

.divisor{
    width:100%;
    height: 0.2rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
}

.horizontal-divisor{
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(198,183,190,1) 50%, rgba(0, 0, 0, 0) 100%) 
    100% 0 100% 0/2px 0 2px 0 stretch;
    border-top: solid;
}

.computer-design{
    display: none;
}

.blinking-arrows{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    z-index: 98;
    width: 100%;
    pointer-events: none;
}

.blinking-arrows div{
    max-width: 3.5rem;
}

.left-mobile-arrow{
    rotate: 90deg;
}
.right-mobile-arrow{
    rotate: -90deg;
}

.mobile-arrow{
    opacity: 0;
}

@media (min-width: 1024px) {
    .section-container{
        border: var(--border-size) solid rgb(0, 0, 0);
    }

    .blinking-arrows{
        display: none;
    }
    .computer-design{
        display: flex;
    }
    :root{
        --inner-indentation: 3rem;
    }
    .header-divisor{
        display: none;
    }
    .under-title-img{
        display: flex;
        margin-top: calc(var(--border-size) - 0.7rem);
    }
    .under-title-img img{
        width: 54%;
    }

    .content-container-hover{
        height: 92%;
        width: 100%;
        margin-top: auto;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 12%, rgba(0,0,0,0.04) 50%, rgba(0,0,0,0) 88%, rgba(0,0,0,1) 100%);
    }

    .borders-container{
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        border: var(--border-size) solid transparent;
        z-index: 4;
        pointer-events: none;
    }
    .corner-img{
        width: 11%;
        position: absolute;
        z-index: 3;
    }

    .full-arrows{
        display: flex;
        justify-content: space-between;
        width: 100%;
        pointer-events: none;
    }

    .full-arrows img{
        width: 3%;
        transition: ease-in-out;
    }

    .corner-img:nth-child(1){
        top: var(--header-hight);
    }

    .corner-img:nth-child(2){
        bottom: 0;
        transform: scaleY(-1);
    }

    .corner-img:nth-child(3){
        bottom: 0;
        right: 0;
        transform: scale(-1);
    }

    .corner-img:nth-child(4){
        top: 8%;
        right: 0;
        transform: scaleX(-1);
    }

    .under-page-img{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        display: flex;
        justify-content: center;
    }

    .under-page-img img{
        width: 35%;
    }

    .logo-icon{
        display: none;
    }

    .divisor{
        width: 0.3rem;
        max-width: 0.3rem;
        height: 85%;
        margin-left: 1rem;
        margin-right:1rem;
        margin-block: auto;
        background: var(--vesel-color);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    }

    .left-full-arrow{
        cursor: pointer;
        pointer-events: initial;
    }

    .right-full-arrow{
        cursor: pointer;
        pointer-events: initial;
    }
    
    .page-indicator-container{
        position: fixed;
        display: flex;
        width: 100vw;
        padding: var(--border-size);
        padding-top: calc(var(--border-size) + 1rem);
        justify-content: space-between;
    }

    .page-indicator{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .prev-page img{
        transform: rotate(90deg);
        max-width: 3.3rem;
    }

    .next-page{
        right: 0;
    }
    .next-page img{
        transform: rotate(-90deg);
        max-width: 3.3rem;
    }

}