/*Profile*/

.profile-container{
    background-color: #010101;
    height: 92%;
    overflow-y: hidden;
}

.profile-info{
    background-color: chartreuse;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pfp{
    width: clamp(10rem, 22vw, 13rem); /*min, normal, max -> phone, tablet, computer */
    height: clamp(10rem, 22vw, 13rem);
    background-color: aqua;
    overflow: hidden;
    border-radius: 50%;
}

.favorite-title{
    display: flex;
    padding: 1rem var(--inner-indentation);  
    justify-content: space-between;
    color: var(--pure-color);
    background-color: red;
}

.share-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.share-img{
    width: 1.5rem;
    margin-left: calc(var(--inner-indentation)/2);
}

.share-btn:hover{
    opacity: 0.5;
}

.character-favorite-img{
    height: clamp(2rem, 9vw, 5rem);
    width: clamp(2rem, 9vw, 5rem);
    overflow: hidden;
    background-color: red;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border-radius: 50%;
}

.character-favorite-img img{
    transform: scale(1.5);
    transform-origin: 50%;
} /*this is for cut those blank spaces*/


.list-favorite-border{
    height: clamp(2.8rem, 11vw, 5.8rem);
    width: clamp(2.8rem, 11vw, 5.8rem);
    position: absolute;
    z-index: 1;
    margin-inline: -0.4rem;
    top: calc(50%-(clamp(3.8rem, 12vw, 5.8rem)/2)); /*to center the div verticaly */
}

.favorite-item{
    margin-top: 0rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.profile-favorite-icon{
    margin-right: calc(var(--inner-indentation) / 2);
    
    width: clamp(2rem, 9vw, 4rem);
}

.favorite-item-info{
    display: flex;
    align-items: center;
    margin-block: auto;
}

.profile-control-panel{
    display: flex;
    flex-direction: column;
    height: 25%;
    background-color: rgb(78, 190, 95);
}

.profile-favorite-items{
    max-height: 75%;
    overflow-y: scroll;
    background-color: aqua;
}

/* MENU */

.menu{
    padding-inline: var(--inner-indentation);
    background-color: #0f0f1bf6;
    color: var(--pure-color);
    backdrop-filter: blur(0.5rem);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: calc(var(----inner-indentation)*2);
    left: 0;
    backdrop-filter: blur(0.3rem);
    max-height: 75vh;
    overflow-y: scroll;

    transition: 800ms all ease-in-out;
    z-index: 99;
}

.menu-item{
    padding-left: var(--inner-indentation);
    cursor: pointer;
}
.menu-item:hover{
    background: rgb(198,183,190);
    background: linear-gradient(90deg, rgba(198,183,190,0) 0%, rgba(198,183,190,0.4) 50%, rgba(198,183,190,0) 100%);
}

.menu-item{
    line-height: 4;
}

.hide-menu{
    opacity: 0;
    transform: translateX(-100%);
}


@media (min-width: 900px) {
    .menu{
        position: static;
    }

    .burger-icon{
        display: none;
    }

    .profile-control-panel{
        flex-direction: row;
    }

    .profile-info{
        width: 100%;
    }

    .menu{
        width: 100%;
        max-height: auto;
    }

    .menu-item{
        line-height: 2.5;
    }
}