/*Profile*/

.profile-container{
    height: 92%;
    width: 100%;
    overflow-y: hidden;
}

.favorite-title{
    display: flex;
    padding: 1rem var(--inner-indentation);  
    justify-content: space-between;
    color: var(--pure-color);
    background: linear-gradient(90deg, transparent 0%, #565a75 50%, transparent 100%);
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(198,183,190,1) 50%, rgba(0, 0, 0, 0) 100%) 
    100% 0 100% 0/2px 0 2px 0 stretch;
    border-top: solid;
}

.favorite-list-container{
    overflow: auto;
    position: relative;
}

.share-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.share-img{
    width: 1.5rem;
    margin-left: 0.8rem;
}

.share-btn:hover{
    opacity: 0.5;
}

.profile-control-panel{
    display: flex;
    padding-top: 1.5rem;
}

.profile-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    gap: 0.8rem;
}

.profile-pfp{
    width: 11rem;
    height: 11rem;
    min-width: 11rem;
    min-height: 11rem;

    overflow: hidden;
    border-radius: 50%;
    background-color:cadetblue;
    position: relative;
    box-shadow: 0px -1px 9px -1px var(--pure-color);
    animation: glowingAnimation 4500ms ease-in-out 0ms infinite normal forwards;
}

@keyframes glowingAnimation{
    0%,
	50%,
	100% {
        box-shadow: 0px -1px 10px -1px var(--pure-color);
	}

	25%,
	75% {
        box-shadow: 0px -1px 19px -1px var(--pure-color);
	}
}

.profile-pfp img{
    top: 0; right: 0; bottom: 0; left: 0; 
    margin: auto;
    position: absolute;
}

.filler{
    filter: invert(98%) sepia(22%) saturate(293%) hue-rotate(346deg) brightness(116%) contrast(100%);
    width: 5%;
    min-width: 2rem;
    margin-left: auto;
    cursor: pointer;
}

.filler:hover{
    filter: invert(76%) sepia(1%) saturate(1587%) hue-rotate(279deg) brightness(101%) contrast(85%);
}


.setting-item{
    padding: 1.5rem;
    display: flex;
}


.background-box{
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem;
}

.bcknd-btn{
    width: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control-music{
    display: flex;
    width: 45%;
    margin-left: auto;
}

.item-info{
    display: flex;
    align-items: center;
}

.favorite-item-list{
    padding-bottom: 5rem;
}

.favorite-item{
    display: flex;
    justify-content: space-between;
    padding-inline: var(--inner-indentation);
}


.scroll-btn{
    position: sticky;
    bottom: 4rem;
    rotate: 180deg;
    z-index: 99;
    width: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    cursor: pointer;
    transition: 800ms all ease-in-out;
}

.hide-scroll-btn{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2rem);
}


@media (min-width: 1024px) {
    .favorite-list-container{
        height: 100%;
    }

    .favorite-title{
        padding: 1rem 5rem;
    }
    
    .favorite-item{
        padding-inline: 5rem;
    } 

    .burger-icon{
        display: none;
    }

    .menu{
        display: none;
    }

    .profile-control-panel{
        flex-direction: column;
        width: 30%;
        height: 100%;
        overflow-y: scroll;
        gap: 1rem;
    }

    .profile-favorite-items{
        height: 100%;
        width: 70%;
        position: relative;
    }

    .profile-container{
        display: flex;
        overflow-y:hidden;
        padding: 4%;
    }

    .profile-info{
        padding-block: 0rem;
        height: 25%;
        min-height: 15rem;
    }

    .panel-div{
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
    }

    .control-div{
        display: none;
    }

    .volume-control{
        height: 1rem;
        align-items: center;
    }

    .volume-bar{
        height: 0.4rem;
        width: 90%;
        background-color: var(--pure-color);
    }
    
    .reverse-play{
        transform: scaleX(-1);
    }

    .sign-btn{
        cursor: pointer;
    }

    .minigame-container{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .scores{
        display: flex;
        justify-content: space-between;
    }
    
    .mini-game{
        background-color: red;
        height: 30vh;
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;

        background:
            linear-gradient(to right, white 4px, transparent 4px) 0 0,
            linear-gradient(to right, white 4px, transparent 4px) 0 100%,
            linear-gradient(to left, white 4px, transparent 4px) 100% 0,
            linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
            linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
            linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
            linear-gradient(to top, white 4px, transparent 4px) 0 100%,
            linear-gradient(to top, white 4px, transparent 4px) 100% 100%;
        
        background-repeat: no-repeat;
        background-size: 20px 20px;

    }

    .game-icon{
        width: 20%;
        cursor: pointer;
    }

    .game-btn-container{
        display: flex;
        justify-content: space-evenly;
    }

    .game-btn{
        cursor: pointer;
        position: relative;
        text-align: center;
    }

    .game-btn:hover{
        background: linear-gradient(90deg, rgba(198,183,190,0) 10%, rgba(198, 183, 190, 0.208) 50%, rgba(198,183,190,0) 90%);
    }

    .game-btn::before{
        content: "";
    
        opacity: 0;
        background-image: url("../img/icons/Hk_left_arrow.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .game-btn::after{
        content: "";
        opacity: 0;
        background-image: url("../img/icons/Hk_right_arrow.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .game-btn::after,
    .game-btn::before{
        display: inline-block;
        transition: 450ms all ease;
        width: calc(1.6rem + 1vw);
        height: calc(1.6rem + 0.2vw);
    }

    .game-btn:hover::before,
    .game-btn:hover::after{
        opacity: 1;
    }

    .background-box{
        padding: 1.5rem;
    }
    #game-time{
        display: inline-block;
    }

    .little-time{
        color:rgb(170, 0, 0);
        font-weight: 700;
    }
}